<apex:component >
    <apex:attribute name="records" type="sobject[]" required="true" description=""/>
    <apex:attribute name="fields" type="string[]" required="true" description=""/>

    <table border="2" class="table table-hover table-sm mt-3">
        <tr class="text-white text-center bg-dark">
            <th> Candidate Number </th>
            <th> Candidate Name </th>
            <th> Email </th>
            <th> Country </th>
            <th> Date of Application </th>
            <th> Application Status </th>
        </tr>
       
        <apex:repeat var="item" value="{!records}">
            <tr>
                <apex:repeat var="fieldItem" value="{!fields}">
                    <td>{!item[fieldItem]}</td>
                </apex:repeat>
            </tr>
        </apex:repeat>
    </table>   
</apex:component>