<apex:page standardController="Candidate_Vinayak__c">
    <apex:form >
        <apex:pageBlock title="Candidate Registration Form" mode="edit">
            <apex:pageBlockSection title="Information" columns="2">
                <apex:inputField value="{!Candidate_Vinayak__c.Salutation__c}"/>
                <apex:inputField value="{!Candidate_Vinayak__c.First_Name__c}"/>
                <apex:inputField value="{!Candidate_Vinayak__c.Last_Name__c}"/>
                <apex:inputField value="{!Candidate_Vinayak__c.Email__c}"/>
                <apex:inputField value="{!Candidate_Vinayak__c.DOB__c}"/>
                <apex:inputField value="{!Candidate_Vinayak__c.Age__c}"/>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection title="Address Information" columns="2">
                <apex:inputField value="{!Candidate_Vinayak__c.Country__c}"/>
                <apex:inputField value="{!Candidate_Vinayak__c.State__c}"/>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection title="Application Information" columns="2">
                <apex:inputField value="{!Candidate_Vinayak__c.Job__c}"/>
                <apex:inputField value="{!Candidate_Vinayak__c.Application_Date__c}"/>
                <apex:inputField value="{!Candidate_Vinayak__c.Expected_Salary__c}"/>
                <apex:inputField value="{!Candidate_Vinayak__c.Status__c}"/>
            </apex:pageBlockSection>
        
            <apex:commandButton value="Save" action="{!save}"/>
        </apex:pageBlock>
    </apex:form>
</apex:page>