<apex:page controller="CreateAndUpdateCandidateController">
    <apex:form >
        <apex:pageBlock title="Candidate Registration Form" mode="edit">
            <apex:pageBlockSection title="Information" columns="2">
                <apex:inputField value="{!candidate.Salutation__c}"/>
                <apex:inputField value="{!candidate.First_Name__c}"/>
                <apex:inputField value="{!candidate.Last_Name__c}"/>
                <apex:inputField value="{!candidate.Email__c}"/>
                <apex:inputField value="{!candidate.DOB__c}"/>
                <apex:inputField value="{!candidate.Age__c}"/>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection title="Address Information" columns="2">
                <apex:inputField value="{!candidate.Country__c}"/>
                <apex:inputField value="{!candidate.State__c}"/>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection title="Application Information" columns="2">
                <apex:inputField value="{!candidate.Job__c}"/>
                <apex:inputField value="{!candidate.Application_Date__c}"/>
                <apex:inputField value="{!candidate.Expected_Salary__c}"/>
                <apex:inputField value="{!candidate.Status__c}"/>
            </apex:pageBlockSection>
        
            <apex:commandButton value="Save" action="{!saveCandidate}"/>
        </apex:pageBlock>
    </apex:form>
</apex:page>