.table {
    border: 2px solid black;
    border-radius: 25px;
    margin: 5%;
    padding: 10px;
}

h1 {
    font-size: 25px;
    background-color: lightgreen;
    border-bottom: 2px solid black;
    border-radius: 25px 25px 0px 0px;
    margin: -1%;
    padding: 10px;
    float: left;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 15px;
    background-color: lightblue;
    padding: 3px;
    float: left;
    width: 100%;
    text-align: center;
    margin-top : 15px;
    margin-bottom : 10px;
}

.image {
    display: block;
    margin: 30px auto 10px auto;
    width: 40%;
    height: 100px;
}

.inputField {
    font-size: 14px;
    display: inline;
    float: left;
    width: 60%;
    margin-left : 5%;
  	border: 0.5px solid black;
    border-radius: 3px;
}

.button { }